body {
    background: #ececec;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.quiz-box {
    width: 350px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px #ccc;
}

h2 {
    font-size: 20px;
}

.options {
    margin-top: 15px;
}

.option {
    padding: 10px;
    background: #f5f5f5;
    margin: 8px 0;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid transparent;
}

.option:hover {
    background: #eaeaea;
}

/* RIGHT (GREEN) */
.correct {
    border-color: green;
    background: #c8ffc8 !important;
}

/* WRONG (RED) */
.wrong {
    border-color: red;
    background: #ffc8c8 !important;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

button {
    padding: 8px 15px;
    border: none;
    background: #444;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #222;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
